<%- include('partials/header') %>


<!-- sectin for navbar -->


<div class="Navbar-sec">
  <div class="Navbar-inner">
    <div class="containeer">
      <div class="logo">
        <img class="logo_icon" alt="NULLIFY" src="images\logo.png" >NULLIFY
      </div>
      <div class="dropdown">
      <div class="name-dropdown">

        <img class="name_logo" alt="img" src="https://ui-avatars.com/api/?name=<%=firstname%>+<%=lastname%>" />

        <span><%=firstname%> <%=lastname%></span>
        <div class="dropdown-content">
  <a href="#">Profile</a>
  <a href="/">Log Out</a>
</div>
</div>
      </div>
    </div>
  </div>
</div>


<!-- section for sidebar -->
<div class="row">
<div class="col-lg-2 col-sm-4">
<div class="sidebar">
    <div class="s-container">
        <div class="dashboard">
            <a href="/dashboard" class="link">
                <span class="sidebar-heading">Dashboard</span>
            </a>
        </div>
        <div class="groups">
            <div class="groups-heading">
                <a href="/groups" class="link">
                  Groups
                </a>
                <button class="add-button"> + Add</button>
            </div>
            <ul class="unordered-list">
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 1</li>
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 2</li>
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 3</li>
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 4</li>
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 5</li>
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 6</li>
                <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 7</li>
            </ul>
        </div>
        <div class="friends">
            <div class="friends-heading">
                <a href="/friends" class="link">
                    Friends
                </a>
              <!-- <button class="add-button"> + Add</button>  -->
            </div>
            <ul class="unordered-list">
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />You</li>
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />Me</li>
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />Our friend 1</li>
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />Our friend 2</li>
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />Our friend 3</li>
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />Our friend 4</li>
                <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png />Our friend 5</li>
            </ul>
        </div>
        <div class="invite-friend">
            <div class="sidebar-heading">Invite Friends</div>
            <div class="sidebar_invites">
                <input class="invite_email" type="email" placeholder="Enter an email address" />
                <br />
                <button class="send_invite">Send invite</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Center Part -->
<div class="col-lg-8 col-sm-8 center">
<div  class="top">
  <div class="topbar">
    <h1 class="dash">Dashboard</h1>
    <div class="actions">
      <Button class="button-exp btn btn-md btn-danger">Add an expense</Button>
      <Button class="button-settle btn btn-md btn-success">Settle up</Button>
    </div>
  </div>

  <div class="total-info">
    <div class="container">
      <div class="row">
        <div class="col">
          you owe
          <br />
          <div class="owe-amt">Rs 0.00</div>
        </div>
        <div class="col mid-col">
          total balance
          <br />
          <div>Rs 0.00</div>
        </div>
        <div class="col">
          you are owed
          <br />
          <div class="owed-amt">Rs 0.00</div>
        </div>
      </div>
    </div>
  </div>

  <div class="all-info">
    <div class="all-info-heading">
      <h2 class="you-owe">YOU OWE</h2>
      <h2 class="you-are-owed">YOU ARE OWED</h2>
    </div>
  </div>
</div>
</div>
</div>

<!-- Modals -->
<div class="modal" id="exp-modal">
  <div class="modal-content">
    <h1>Add an expenses</h1>
    <div class="close">x</div>
  </div>
</div>

<%- include('partials/footer') %>
