<%- include('partials/header') %>


<!-- sectin for navbar -->


<div class="Navbar-sec">
  <div class="Navbar-inner">
    <div class="containeer">
      <div class="logo">
        <img class="logo_icon" alt="NULLIFY" src="images\logo.png">NULLIFY
      </div>
      <div class="dropdown">
        <div class="name-dropdown">

          <img class="name_logo" alt="img" src="https://ui-avatars.com/api/?name=<%=firstname%>+<%=lastname%>" />

          <span class="name"><%=firstname%> <%=lastname%></span>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- section for sidebar -->
<div class="row">
  <div class="col-lg-2 col-sm-4">
    <div class="sidebar">
      <div class="s-container">
        <div class="dashboard">
          <a href="/main.ejs" class="link">
            <span class="sidebar-heading">Dashboard</span>
          </a>
        </div>
        <div class="groups">
          <div class="groups-heading">
            <a href="/groups" class="link">
              Groups
            </a>
            <button class="add-button"> + Add</button>
          </div>
          <ul class="unordered-list">
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 1</li>
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 2</li>
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 3</li>
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 4</li>
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 5</li>
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 6</li>
            <li class="grouplist"><img class="frnd_grp_img" alt="img" src=images\grp.png />Group 7</li>
          </ul>
        </div>
        <div class="friends">
          <div class="friends-heading">
            <a href="/friends" class="link">
              Friends
            </a>
            <!-- <button class="add-button"> + Add</button>  -->
          </div>
          <ul class="unordered-list">
            <% friendList.forEach((friend) => { %>
            <li class="friendlist"><img class="frnd_grp_img" alt="img" src=images\frnd.png /><%= friend %></li>
            <% }); %>
          </ul>
        </div>
        <div class="invite-friend">
          <div class="sidebar-heading">Invite Friends</div>
          <form class="" action="/invite" method="post">

            <div class="sidebar_invites">
              <input class="invite_email" type="text" placeholder="Enter the username" name="invited_frnd" />
              <br />
              <button class="send_invite" type="submit">Send invite</button>
              <p class="error"><%=error_msg%></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Center Part -->
  <div class="col-lg-8 col-sm-8 center">
    <div class="top">
      <div class="topbar">
        <h1 class="dash">Dashboard</h1>
        <div class="actions">
          <Button id="exp-btn" class="button-exp btn btn-md btn-danger" onclick="expense()">Add an expense</Button>
          <Button class="button-settle btn btn-md btn-success">Settle up</Button>
        </div>
      </div>

      <div class="total-info">
        <div class="container">
          <div class="row">
            <div class="col">
              you owe
              <br />
              <div class="owe-amt">Rs 0.00</div>
            </div>
            <div class="col mid-col">
              total balance
              <br />
              <div>Rs 0.00</div>
            </div>
            <div class="col">
              you are owed
              <br />
              <div class="owed-amt">Rs 0.00</div>
            </div>
          </div>
        </div>
      </div>

      <div class="all-info">
        <div class="all-info-heading row">
          <div class="col you-owe">
            <h4>YOU OWE</h4>
          </div>
          <div class="col you-are-owed">
            <h4>YOU ARE OWED</h4>
          </div>
        </div>
        <div class="list">
          <div class="negatives"></div>
          <div class="positives"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->

<!-- friend list modal -->
<div class="modalFriends" id="friends-modal">
  <div class="modal-content">
    <div class="modal_heading_custom">
      <h1 id="modal-h1">Friend list</h1>
      <div class="closeBtn" onclick="closeFriend()">x</div>
    </div>
    <div class="modal_content_custom">
      <div id="selection_area">
        <% friendList.forEach((friend) => { %>
        <input type="checkbox" id="friend_list" value="<%= friend %>" name="friends_list">
        <label><%= friend %></label>
        <br>
        <% }); %>
      </div>
      <!-- <div class="select_all" style="float:right">
        <input type="checkbox" value="ALL" id="all">
        <label>Select all friend</label>
        <br>
      </div> -->
      <div class="save-button">
        <button type="submit" name="friend" class="btn btn-success btn-large" onclick="addFriend()">Next</button>
      </div>
      <p id="warning_frnd" style="display:none">*Select atleast one friend</p>
    </div>
  </div>
</div>

<!-- Expense Adding modal -->
<form action="/expCalc" method="post">
  <div class="modalExp" id="exp-modal">
    <div class="modal-content">
      <div class="modal_heading_custom">
        <h1 id="modal-h1">Add an expense</h1>
        <div class="closeBtn" onclick="closeExp()">x</div>
      </div>
      <div class="modal_content_custom">
        Add the amount paid by individual person.
        <div class="all-people">
          <div class="individual-friend">
            <%= username %>
            <div class="input-area">
              <span class="currency">₹</span>
              <input type="text" placeholder="0.00" name="amountUser"/>
            </div>
          </div>

          <% friendList.forEach((friend,i) => { %>
          <div class="individual-friend">
            <span name="friendUsername<%=i%>" id=<%=i%> style="display:none"></span>
            <div class="input-area">
              <span class="currency" id="currency<%=i%>" style="display:none">₹</span>
              <input type="text" id="input<%=i%>" style="display:none" placeholder="0.00" name="amount<%=i%>" />
            </div>
          </div>
          <% }); %>
        </div>
        <div class="save-button">
          <button id="Save-btn" type="submit" name="button" class="btn btn-success btn-large" onclick="changeinValue()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

<%- include('partials/footer') %>
