<%- include('partials/header') %>


<!-- section for navbar -->
<%- include('navBar') %>


<!-- section for left-sidebar -->
<%- include('leftSidebar') %>


<!-- Center Part -->
  <div class="col-lg-8 col-sm-8 center">
    <div class="top">
      <div class="topbar">
        <h1 class="dash">Dashboard</h1>
        <div class="actions">
          <Button id="exp-btn" class="button-exp btn btn-md btn-danger" onclick="expense()">Add an expense</Button>
          <Button class="button-settle btn btn-md btn-success" onclick="settle()">Settle up</Button>
        </div>
      </div>

      <div class="total-info">
        <div class="container">
          <div class="row">
            <div class="col" >
              you owe
              <br />
              <% var oweAmt = 0.00; %>
              <% var owedAmt = 0.00; %>
              <% var total = 0.00; %>
              <% var total_valColor = 'green' %>
              <% friendList.forEach(friend => { %>
                <% if(friend.amount<0) { %>
                  <% oweAmt+=friend.amount; } %>
                <% if(friend.amount>0) { %>
                  <% owedAmt+=friend.amount; } %>
                <% total = parseFloat(owedAmt + oweAmt).toFixed(2); %>
              <% }) %>
              <% oweAmt = parseFloat(oweAmt).toFixed(2); %>
              <% owedAmt = parseFloat(owedAmt).toFixed(2); %>
              <% if(oweAmt==0) { %>
              <div style="color:black" class="owe-amt">₹ <%=oweAmt%></div>
              <% } else { %>
              <div class="owe-amt">₹ <%=oweAmt%></div>
              <% } %>
            </div>
            <div class="col mid-col">
              total balance
              <br />
              <%  if(total<0){ %>
              <div style="color:red;font-weight:500">₹ <%=total%></div>
              <% }else if(total>0){%>
              <div style="color:green;font-weight:500">₹ <%=total%></div>
              <% } else { %>
              <div style="font-weight:500">₹ <%=total%></div>
              <% } %>
            </div>
            <div class="col">
              you are owed
              <br />
              <% if(owedAmt==0) { %>
              <div style="color:black" class="owed-amt">₹ <%=owedAmt%></div>
              <% } else { %>
              <div class="owed-amt">₹ <%=owedAmt%></div>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="all-info">
        <div class="all-info-heading row">
          <div class="col you-owe">
            <h4>YOU OWE</h4>
          </div>
          <div class="col you-are-owed">
            <h4>YOU ARE OWED</h4>
          </div>
        </div>
        <div class="row list">
          <div class="col negative-col">
            <div class="negatives">
              <ul class="list-style-remover">
                <% friendList.forEach(friend => { %>
                  <% if(friend.amount<0) { %>
                    <li class="list-item">
                      <img class="list-img" alt="img" src=images\frnd.png />
                      <div class="list-name"><%=friend.name%></div>
                      <div class="negative-amt">you owe ₹<%=parseFloat(friend.amount).toFixed(2)%></div>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            </div>
          </div>
          <div class="col positive-col" >
            <div class="positives">
              <ul class="list-style-remover">
                <% friendList.forEach(friend => { %>
                  <% if(friend.amount>0) { %>
                    <li class="list-item">
                      <img class="list-img" alt="img" src=images\frnd.png />
                      <div class="list-name"><%=friend.name%></div>
                      <div class="positive-amt">you are owed ₹<%=parseFloat(friend.amount).toFixed(2)%></div>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- right-sidebar -->
<%- include('rightSideBar') %>


    <!-- To be displayed at the person with whom settle up is done -->
    <!-- <div class="request-box" id="request-accept-box"> -->

      <!-- This form will make the post request in app.js -->
      <!-- <form>
        <div>Your friend "friendName" has requested to settle up the amount "value". Do you agree that the amount is recieved?</div>
        <div class="buttons-grp">
          <button class="btn btn-sm btn-success">Yes</button>
          <button class="btn btn-sm btn-danger">No</button>
        </div>
      </form> -->
    <!-- </div> -->


<!-- Modals -->

<!-- friend list modal -->
<div class="modalFriends" id="friends-modal">
  <div class="modal-content">
    <div class="modal_heading_custom">
      <h1 id="modal-h1">Friend list</h1>
      <div class="closeBtn" onclick="closeFriend()">x</div>
    </div>
    <div class="modal_content_custom">
      <div id="selection_area">
        <% friendList.forEach((friend) => { %>

        <input type="checkbox" id="friend_list" value="<%= friend.name %>" name="friends_list">
        <label><%= friend.name %></label>
        <br>

        <% }); %>
      </div>
      <!-- <div class="select_all" style="float:right">
        <input type="checkbox" value="ALL" id="all">
        <label>Select all friend</label>
        <br>
      </div> -->
      <div class="save-button">
        <button type="submit" name="friend" class="btn btn-success btn-large" onclick="addFriend()">Next</button>
      </div>
      <p id="warning_frnd" style="display:none">*Select atleast one friend</p>
    </div>
  </div>
</div>

<!-- Expense Adding modal -->
<form id="expense_form" action="/expCalc" method="post">
  <div class="modalExp" id="exp-modal">
    <div class="modal-content">
      <div class="modal_heading_custom">
        <h1 id="modal-h1">Add an expense</h1>
        <div class="closeBtn" onclick="closeExp()">x</div>
      </div>
      <div class="modal_content_custom">
        Add the amount paid by individual person.
        <div class="all-people">
          <div>
            <input class="group-name" style="display: none; width: 81%; margin: 5px 0px;" type="text" placeholder="Group Name" name="groupName" >
          </div>
          <div class="individual-friend">
            <%= username %>
            <div class="input-area">
              <span class="currency">₹</span>
              <input type="text" placeholder="0.00" name="amountUser"/>
            </div>
          </div>

          <% friendList.forEach((friend,i) => { %>
          <div class="individual-friend">
            <span name="friendUsername<%=i%>" id=<%=i%> style="display:none"></span>
            <div class="input-area">
              <span class="currency" id="currency<%=i%>" style="display:none">₹</span>
              <input class="input_amount"  type="text" id="input<%=i%>" style="display:none" placeholder="0.00" name="amount<%=i%>"/>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="save-button">
          <button id="Save-btn" type="submit" name="button" class="btn btn-success btn-large" onclick="changeinValue()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- *********Expense Settle Modal code starts*********** -->
<div class="modalFriends" id="settle-modal">
  <div class="modal-content">
    <div class="modal_heading_custom">
      <h1 id="modal-h1">Select A Recipient </h1>
      <div class="closeBtn" onclick="closeFriend_settle()">x</div>
    </div>
    <div class="modal_content_custom modal_content_custom_settleup">
      <div id="selection_area">
        <ul class="settle_list">
        <% friendList.forEach((friend) => { %>
          <% if(friend.amount<0){%>
          <span class="list_hovering">
            <li onclick="settle_payment(this.id)" id=<%=friend.name %>,<%=friend.amount%> >  <img class="frnd_grp_img" alt="img" src=images\frnd.png /> <%= friend.name %></li>
          </span>
          <% }%>
        <% }); %>
        </ul>
      </div>
      <p id="warning_frnd" style="display:none">*Select atleast one friend</p>
    </div>
  </div>
</div>


<!-- Payment Settle Modal -->
<form id="expense_form" action="/settleCalc" method="post">
  <div class="modalExp" id="payment-settle-modal">
    <div class="modal-content">
      <div class="modal_heading_custom">
        <h1 id="modal-h1">Settle up</h1>
        <div class="closeBtn" onclick="closeFriend_settle()">x</div>
      </div>
      <div class="modal_content_custom" id="content_settleUP">
        <img class="name_logo" alt="img" src="https://ui-avatars.com/api/?name=<%=firstname%>+<%=lastname%>" />
        <img class="name_logo" alt="->" src="images\arrow_sign.png"/>
        <img class="name_logo" id="user_logo" alt="img" src="https://ui-avatars.com/api/?name=??" />
        <div class="who-to-whom">You Paid To <span id="lender_name">???</span></div>
        <span class="currency">₹</span>
        <input type="nunber" name="settleAmount" value="" id="amount_paid">
        <div class="save-button">
          <button id="Save-btn-settle" type="submit" name="buttonSettle" class="btn btn-success btn-large" onclick="changeinValueSettle()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>




<%- include('partials/footer') %>
